<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            picCover="https://cdn.akamai.steamstatic.com/steam/apps/208650/capsule_616x353.jpg?t=1694042300"
            cardTitle="Porque jogar o morcegão?"
            cardDescription="No explosivo final da série Arkham, Batman encara a última ameaça contra a cidade que jurou proteger. O Espantalho retorna para reunir um grupo impressionante de supervilões, incluindo o Pinguim, o Duas-Caras e a Arlequina, para destruir definitivamente o Cavaleiro das Trevas. Batman: Arkham Knight apresenta a versão desenvolvida exclusivamente pela Rocksteady do Batmóvel, que pode ser dirigido pela primeira vez na franquia. A inclusão desse veículo lendário, combinada com a jogabilidade aclamada da série Batman Arkham, oferece aos jogadores a experiência definitiva de jogar como Batman enquanto percorrem as ruas e voam pelo céu de Gotham City.Seja O Batman."
            >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            picCover="https://image.api.playstation.com/cdn/UP1018/CUSA00133_00/zhR1vjhrMJMdSNML4Wp2ODIwtNs9GUvu.png?w=620&thumb=false"
            cardTitle="DLC: Batman™: Arkham Knight Visual Batman Beyond"
            >
        </app-small-card>
        <app-small-card
            picCover="https://static3.tcdn.com.br/img/img_prod/460977/pre_venda_action_figure_colecionavel_batman_xe_suit_batman_arkham_origins_vgm52_escala_1_6_dc_comics_93485_2_2996778b540f6d9dd49fdec6d5f14b10.jpg"
            cardTitle="Action Figure Colecionável Batman (XE Suit): Batman Arkham Origins VGM52 Escala 1/6 DC Comics (Regular Edition) - Hot Toys "
            >
        </app-small-card>
    </div>
</div>